// Declaração da variáveis
$primary: #F9C80E;
$body-bg: #FFFFFF;


.bg-logo{
    background: #F9C80E
}

.jumbotron{
    background-color: #197277!important
}

.text-custom-ligue{
    font-size: 1.1rem
}

.text-custom-2 {
    font-size:1.5rem
}

// VIDEO
.video-background {
    position: relative;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
}

.video-texto {
    text-align: center;
    color: white
}

//Link do texto sem sublinhado
.link-underline-none{
    a:link{text-decoration: none};
}

//Alterar Cor de Link's
.link-telefone{
    color: #FFFFFF;

}
.link-color-email{
    color: #FFFFFF;

}

//Links Redes Social's
.instagram-color{
    color: indianred;
}

.facebook-color{
    color: #005cbf;
}

.pinterest-color{
    color: #721c24;
}

.goolgle-plus-color{
  color: firebrick;
}



// Importação do Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";